body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #75aadb;
}




.banner {
    background-color: #75aadb;
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    padding: 40px;
    font:bolder;
    color: white; 
}

.banner img{
    width: 120px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    padding: 0px;
    border: 5px solid #fcbf45;
}

.banner h1{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: 20px;
}

.banner h2{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: 20px;
    color:white;
    background-color:#fcbf45;
     padding: 5px;
    border-radius: 20px;
     border:2px dashed #843511;
}

.banner h3{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: 150px;
    color:white;
    background-color:#fcbf45;
    padding: 5px;
    border-radius: 20px;
     border:2px dashed #843511;
}

.banner a{
    text-decoration: none;
    color:white;
}

.banner a:hover{
    color:black;
    font-weight: bolder;
}

.banner h3:hover{
    transform: scale(1.5);
}

.content{
    box-sizing: border-box;
    margin:auto 60px auto 60px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    border: 10px double #75aadb;
}

.content.image{
    display: inline-block;
    box-sizing: border-box;
    padding: 2px;
    border-radius: 20px;
    margin: auto 60px auto auto;
    width: 58.4%;
    vertical-align:middle;

}

.content img{

    width: 100%;
    height: auto;
    border-radius: 10px;

}

.content.ingredients{
    display: inline-block;
    margin: auto auto auto 60px;
    width: 35%;
    vertical-align: middle;
    text-align: center;
}

.content ol li{
    margin-bottom: 20px;
    

}

.tabla{
    display: inline-block;
    width: 600px;
    font-size: 0px;
}

.tabla ul li{
    box-sizing: border-box;
    display: inline-block;

    border-radius: 10px;
    border:3px solid #75aadb;
    
    width: 33%;
    
    line-height:100px;
    text-align: center;
    font-size: medium;

}   


.tabla.asado{
    display: inline-block;
    width: 400px;
    font-size: 0px;
    
}

.tabla.asado ul li{
    box-sizing: border-box;
    display: inline-block;

    border-radius: 10px;
    border:3px solid #75aadb;
    
    width: 50%;
    
    line-height:100px;
    text-align: center;
    font-size: medium;

}   



