body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}




.banner {
    background-color: #75aadb;
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    padding: 40px;
    font:bolder;
    color: white; 
}

.banner img{
    width: 120px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    padding: 0px;
    border: 5px solid #fcbf45;
}

.banner h1{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: 20px;
}

.banner h2{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: 20px;
    color:white;
    background-color:#fcbf45;
     padding: 5px;
    border-radius: 20px;
     border:2px dashed #843511;
}

.banner h3{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: 150px;
    color:white;
    background-color:#fcbf45;
    padding: 5px;
    border-radius: 20px;
     border:2px dashed #843511;
}

.banner a{
    text-decoration: none;
    color:white;
}

.banner a:hover{
    color:black;
    font-weight: bolder;
}

.banner h3:hover{
    transform: scale(1.5);
}

.content{
  
    margin:auto 50px auto 50px;
}

.tabla{

    display: inline-block;
    width: 600px;
    font-size: 0px;
    margin: 0;
}

.tabla li{
    box-sizing: border-box;
    display: inline-block;

    border-radius: 10px;
    border:3px solid #843511;
    
    height: 100px;
    width: 33%;
    
    line-height:100px;
    text-align: center;
    font-size: medium;
}   

.content img{   
    border-radius: 10px;
    width: 500px;
}

